::ng-deep .popover.popover-preview {
  max-width: 80rem;

  .preview {
    min-width: 60rem;
    min-height: 40rem;
    max-height: 60rem;
    overflow-y: scroll;
  }

  .spinner-border {
    position: absolute;
    top: 4rem;
    left: calc(50% - 0.5rem);
    z-index: 0;
  }
}

::ng-deep .popover-hidden .popover {
  opacity: 0;
  pointer-events: none;
}
